body{
    background-color:#CCCAFA;
}

header {
    background-color:#7788FA;
    border: 10px double #351966;
    border-radius:20px;
    padding:50px;
}

.h11 {
    text-align:center;
    text-decoration:underline;
}

h2{
    text-align: center;
    margin:-20px;
}

h3{
    text-align: center;
}

table {
    border:3px solid black;
}

.tr1 {
    background-color:rgb(58, 15, 115);
    color:white;
}

.tr2 {
    background-color: #7788FA;
}

.tr3 {
    background-color: #7788FA;
}

.tr4 {
    background-color: #7788FA;
}

.tr5 {
    background-color: #7788FA;
}

.tr6 {
    background-color: #7788FA;
}

.tr11{
    background-color: rgb(58, 15, 115);
    color: white;
}

.tr22{
    background-color: rgb(58, 15, 115);
    color:white;
}

.tr33{
    background-color: rgb(58, 15, 115);
    color:white;
}

.t1{
    border:3px solid black;
}

.t2{
    border:3px solid black;
}

.t3{
    border:3px solid black;
}

.t4{
    border:3px solid black;
}

.t5{
    border:3px solid black;
}

.t6{
    border:3px solid black;
}

.t7{
    border:3px solid black;
}

.t8{
    border:3px solid black;
}

.t9{
    border:3px solid black;
}

.t10{
    border:3px solid black;
}

.t11{
    border:3px solid black;
}

.tt1{
    border:3px solid black;
}

.tt2{
    border:3px solid black;
}

.tt3{
    border:3px solid black;
}

.tt4{
    border:3px solid black;
}

.tt5{
    border:3px solid black;
}

.tt6{
    border:3px solid black;
}

.img{
    border:10px double black;
    border-radius:45px;
    margin:-70px;
}

.h22{
   margin:20px; 
}

a {
    text-decoration:none;
    margin:100px;
}

.imgg{
    border:3px solid black;
    border-radius:30px;
    text-align:center;
}

.h2 {
    color:white;
    text-decoration:underline;
}

p {
    color:purple;
}
